@use "global" as *;


.anchor-nav {
  background-color: $white;
  box-shadow: rem(2) rem(4) rem(45) 0 rgba(52, 57, 68, 0.13);
  padding: rem(30) rem(60);
  width: fit-content;
  min-width: rem(730);
  margin-inline: auto;

  @include mq("md") {
    padding: rem(25) rem(20);
    width: 100%;
    min-width: 0;
  }
}

.anchor-nav__list {
  display: flex;
  column-gap: rem(30);
  justify-content: center;
  margin-bottom: 0;

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(19);
    row-gap: rem(6);
  }
}

.anchor-nav__list.anchor-nav__list--sub {
  @include mq("md") {
    display: flex;
    column-gap: rem(12);
    row-gap: 0;
  }
}

.anchor-nav__item {
}

.anchor-nav__link {
  position: relative;
  border: 1px solid $blue;
  display: block;
  color: $blue;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 1.5;
  padding: rem(10) rem(52) rem(10) rem(35);
  text-align: center;
  width: 100%;
  min-width: rem(186);
  transition: opacity 0.3s;

  @include mq("md") {
    font-size: rem(12);
    padding: rem(10) rem(48) rem(10) rem(32);
  }

  @include mq("sm") {
    font-size: rem(10);
    padding: rem(5) rem(11) rem(5) rem(18);
    min-width: rem(107);
  }
}

@media (any-hover: hover) {
  .anchor-nav__link:hover {
    opacity: 0.7;
  }
}

.anchor-nav__link::after {
  position: absolute;
  content: '';
  right: rem(20);
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/anchor-nav-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 12 / 7;
  height: auto;
  width: 100%;
  max-width: rem(12);

  @include mq("md") {
    right: rem(12);
    max-width: rem(6);
  }

  @include mq("sm") {
    right: rem(8);
  }
}

@media (any-hover: hover) {
  .anchor-nav__link:hover {
    opacity: 0.7;
  }
}