@use "global" as *;

.archive-case {
}

.archive-case__heading {
}

.archive-case__container {
  margin-top: rem(40);
  background-color: $white;
  padding: rem(40) rem(32);
}

.archive-case__title {
  color: $black;
  font-size: rem(18);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 1.5;
}