@use "global" as *;

.archive-insight {
}

.archive-insight__heading {
}

.archive-insight__container {
  background-color: $white;
  padding: rem(40) rem(32);

  @include mq(md) {
    padding: rem(20) rem(16);
  }
}

.archive-insight__title {
  color: $black;
  font-size: rem(18);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 1.5;
}