@use "global" as *;

.blog-layout {
  padding-top: rem(32);
  padding-bottom: rem(48);
  background-color: $bg-gray;

  @include mq("md") {
    padding-top: rem(40);
    padding-bottom: rem(20);
  }
}

.blog-layout__inner {
}

.blog-layout__container {
  display: flex;
  gap: rem(40);

  @include mq("md") {
    flex-direction: column-reverse;
    gap: rem(20);
  }
}

.blog-layout__main {
  flex: 1;
}

.blog-layout__sidebar {
  margin-top: rem(70);

  @include mq("md") {
    margin-top: 0;
  }
}

.blog-layout__sidebar--single {
  margin-top: 0;
}