@use "global" as *;

.breadcrumb {
  position: absolute;
  top: rem(30);
  left: rem(50);
}

.breadcrumb__inner {
}

.breadcrumb__list {
  color: $white;
  font-family: $base-font-family;
  font-size: rem(12);
  font-style: normal;
  font-weight: $medium;
  line-height: normal;
}
