@use "global" as *;

.cases {
  padding-top: rem(130);
  padding-bottom: rem(130);

  @include mq("md") {
    padding-top: rem(60);
    padding-bottom: rem(60);
  }
}

.cases__inner {
  @include mq("md") {
    max-width: rem(600);
    margin-inline: auto;
  }
}

.cases__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(60);

  @include mq("md") {
    display: block;
  }
}

.cases__button {
  width: rem(244);
  flex-shrink: 0;

  @include mq("md") {
    margin-inline: auto;
    margin-top: rem(32);
  }
}

.cases__container {
  margin-top: rem(60);
}

.cases__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: rem(20);

  @include mq("md") {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: rem(20);
    grid-row: 2;
  }
}

.cases__item {
  width: rem(280);

  @include mq("md") {
    width: 100%;
    max-width: rem(280);
  }
}
