@use "global" as *;

.case-card {
  padding: rem(20);
  background-color: $white;
  box-shadow: 0 0 rem(35) 0 rgba(50, 58, 71, 0.05);
  display: flex;
  flex-direction: column;
}

.case-card__title {
  color: $blue;
  font-size: rem(20);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 1.5;
  text-align: center;
}

.case-card__description {
  margin-top: rem(15);
  color: $black;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.8;
}

.case-card__bottom {
  margin-top: rem(40);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case-card__date {
  color: $gray;
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.5;
}

.case-card__category {
  display: inline-block;
  width: fit-content;
  background-color: $light-yellow;
  color: $black;
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $normal;
  line-height: 1.5;
  padding: rem(5) rem(8);
}
