@use "global" as *;

.insight-detail {
  padding-top: rem(80);
  padding-bottom: rem(200);

  @include mq("md"){
    padding-top: rem(60);
    padding-bottom: rem(100);
  }
}

.insight-detail__inner {
}

.insight-detail__container {
  padding-left: rem(100);
  padding-right: rem(100);

  @include mq("md"){
    padding-left: 0;
    padding-right: 0;
  }
}

.insight-detail__date {
  color: $black;
  font-family: $base-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.286; /* 128.571% */

  @include mq("md"){
    font-size: rem(12);
  }
}

.insight-detail__title {
  width: 100%;
  color: $blue;
  font-family: $base-font-family;
  font-size: rem(32);
  font-style: normal;
  font-weight: $medium;
  line-height: normal;
  padding-bottom: rem(4);

  @include mq("md"){
    font-size: rem(24);
  }
}

.insight-detail__image {
  margin-top: rem(40);
  width: 100%;

  @include mq("md"){
    margin-top: rem(24);
  }
}

.insight-detail__image img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  height: auto;
}

.insight-detail__content {
  margin-top: rem(40);

  @include mq("md"){
    margin-top: rem(24);
  }
}

.insight-detail__content h2 {
  margin-top: rem(50);
  margin-bottom: rem(10);
  padding: rem(8) rem(10);
  border-bottom: 2px solid $blue;
  color: $black;
  font-family: $base-font-family;
  font-size: rem(24);
  font-style: normal;
  font-weight: $medium;
  line-height: 1.500;

  @include mq("md"){
    margin-top: rem(28);
    margin-bottom: rem(8);
    font-size: rem(20);
  }
}

.insight-detail__content h3 {
  margin-top: rem(40);
  margin-bottom: rem(10);
  padding-left: rem(10);
  border-left: 2px solid $blue;
  color: $black;
  font-family: $base-font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: $medium;
  line-height: 1.500;

  @include mq("md"){
    margin-top: rem(24);
    margin-bottom: rem(8);
    font-size: rem(18);
  }
}

.insight-detail__content p {
  margin-top: rem(24);
  color: $black;
  font-family: $base-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */

  @include mq("md"){
    margin-top: rem(20);
    font-size: rem(14);
  }
}

.insight-detail__content figure {
  margin-top: rem(24);
  margin-inline: auto;
  width: 100%;

  @include mq("md"){
    margin-top: rem(20);
  }
}

.insight-detail__content ul {
  margin-top: rem(24);

  @include mq("md"){
    margin-top: rem(20);
  }
}

.insight-detail__content li:not(:first-child) {
  margin-top: rem(4);
}

.insight-detail__content li {
  position: relative;
  padding-left: rem(20);
  display: flex;
  align-items: start;
  width: fit-content;
  color: $black;
  font-size: rem(16);
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500; /* 150% */

  @include mq("md"){
    font-size: rem(14);
  }
}

.insight-detail__content li::before {
  position: absolute;
  background-image: url(../images/list-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  left: 0;
  top: 0.5lh;
  transform: translateY(-50%);
  width: rem(10);
  height: rem(10);

  @include mq("md"){
    width: rem(8);
    height: rem(8);
  }
}

.insight-detail__content a.wp-block-button__link {
  margin-top: rem(32);
  margin-inline: auto;
  padding: rem(10) rem(20);
  border-radius: rem(10);
  background-color: $blue;
  display: inline-block;
  color: $white;
  font-size: rem(16);
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  line-height: 1.500;
  text-decoration: none;
  transition: opacity 0.3s;

  @include mq("md"){
    font-size: rem(14);
  }
}

@media (any-hover: hover) {
  .insight-detail__content a:hover {
    opacity: 0.7;
  }
}