@use "global" as *;

.member-card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 35px 0 rgba(50, 58, 71, 0.05);
}

.member-card__image {
  position: relative;
}

.member-card__image img {
  width: 100%;
  aspect-ratio: 336 / 280;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.member-card__name-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(17, 33, 82, 0.9);
  padding: rem(10) rem(20);

  @include mq("md") {
    padding: rem(7) rem(17) rem(8);
  }
}

.member-card__position {
  display: inline-block;
  color: $white;
  font-family: $second-font-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.5;
  border-bottom: 1px solid $white;

  @include mq("md") {
    font-size: rem(12);
  }
}

.member-card__name-area {
  margin-top: rem(10);
  display: flex;
  align-items: end;
  gap: rem(8);
}

.member-card__name-ja {
  color: $white;
  font-family: $second-font-family;
  font-size: rem(20);
  font-style: normal;
  font-weight: $medium;
  line-height: 1.5;

  @include mq("md") {
    font-size: rem(18);
  }
}

.member-card__name-en {
  color: $white;
  font-family: "EB Garamond", serif;
  font-size: rem(14);
  font-style: normal;
  font-weight: $medium;
  line-height: 1.5;

  @include mq("md") {
    font-size: rem(12);
  }
}

.member-card__body {
  padding: rem(20) rem(20) rem(30);

  @include mq("md") {
    padding: rem(20) rem(8) rem(30);
  }
}

.member-card__profile {
  color: $black;
  font-family: $second-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $normal;
  line-height: 1.8;

  @include mq("md") {
    font-size: rem(12);
  }
}

