@use "global" as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: rem(11);
}

.pagination.pagination--no-number {
  column-gap: rem(26);
}

.pagination__item {

}

.pagination__item:first-child {
  margin-right: rem(28);
}

.pagination__item:last-child {
  margin-left: rem(28);
}

.pagination__item a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(40);
  height: rem(40);
  color: $gray;
  font-family: $base-font-family;
  font-size: rem(16);
  font-style: normal;
  font-weight: $bold;
  line-height: normal;
  transition: color 0.3s;
}

@media (any-hover: hover) {
  .pagination__item a:hover {
    color: $blue;
  }
}

.pagination__item a.is-active {
  color: $white;
  background-color: $blue;
}

.pagination__prev {
  display: inline-block;
  position: relative;
  left: .2em;
  content: "";
	width: rem(12);
	height: rem(12);
	border-top: 2px solid $blue;
	border-right: 2px solid $blue;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
  transition: border-top .3s, border-right .3s;
}

.pagination__next {
  display: inline-block;
  position: relative;
  right: .1em;
  content: "";
	width: rem(12);
	height: rem(12);
	border-top: 2px solid $blue;
	border-right: 2px solid $blue;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
  transition: opacity 0.3s;
}

.pagination__first {
  position: relative;
  display: inline-block;
  width: rem(24);
  height: rem(12);
}

.pagination__first::before,
.pagination__first::after {
  content: "";
  position: absolute;
  top: 50%;
  width: rem(12);
  height: rem(12);
  border-top: 2px solid $blue;
  border-right: 2px solid $blue;
  transform: translateY(-50%) rotate(225deg);
  transition: opacity 0.3s;
}

.pagination__first::before {
  left: 0;
}

.pagination__first::after {
  left: rem(6);
}

.pagination__last {
  position: relative;
  display: inline-block;
  width: rem(24);
  height: rem(12);
}

.pagination__last::before,
.pagination__last::after {
  content: "";
  position: absolute;
  top: 50%;
  width: rem(12);
  height: rem(12);
  border-top: 2px solid $blue;
  border-right: 2px solid $blue;
  transform: translateY(-50%) rotate(45deg);
  transition: opacity 0.3s;
}

.pagination__last::before {
  right: rem(6);
}

.pagination__last::after {
  right: 0;
}

@media (any-hover: hover) {
  .pagination__item a:hover .pagination__prev,
  .pagination__item a:hover .pagination__next,
  .pagination__item a:hover .pagination__first,
  .pagination__item a:hover .pagination__last {
    opacity: 0.5;
  }
}