@use "global" as *;

.sub-heading {
  color: $black;
  font-size: rem(20);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: 1.5;
  letter-spacing: 0.05em;
  padding-left: rem(10);
  border-left: 3px solid $blue;
}


