@use "global" as *;

.sub-news {
}

.sub-news__inner {
  
}

.sub-news__container {
  width: 100%;
  max-width: rem(1080);
  margin-top: rem(40);
  margin-inline: auto;
  background-color: $white;
  padding: rem(60) rem(32);
}

.sub-news__list {
  width: 100%;
  max-width: rem(864);
  margin-inline: auto;
}

.sub-news__item {
  padding-bottom: rem(25);
  border-bottom: 1px solid $light-gray;
  transition: color 0.3s;

  @include mq("md"){
    padding: rem(12);
    flex-direction: column;
    align-items: start;
    row-gap: rem(8);
  }
}

@media (any-hover: hover) {
  .sub-news__item:hover .sub-news__title {
    color: $blue;
  }
}

.sub-news__item:not(:first-child) {
  margin-top: rem(25);

  @include mq("md"){
    margin-top: rem(12);
  }
}

.sub-news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-news__date {
  color: $gray;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.5;
  letter-spacing: .1em;

  @include mq("md"){
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}

.sub-news__category {
  display: inline-block;
  width: fit-content;
  background-color: $light-yellow;
  color: $black;
  font-size: rem(14);
  font-family: $base-font-family;
  font-weight: $regular;
  line-height: 1.5;
  padding: rem(5) rem(8);
}

.sub-news__title {
  margin-top: rem(10);
  color: $black;
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $medium;
  line-height: calc(21 / 16);
  letter-spacing: .1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 任意の行数を指定 */

  @include mq("md"){
    font-size: rem(14);
    line-height: calc(21 / 14);
    -webkit-line-clamp: 2; /* 任意の行数を指定 */
  }
}
