@use "global" as *;

.sub-contact {
  padding-top: rem(130);
  padding-bottom: rem(230);

  @include mq("md") {
    padding-top: rem(70);
    padding-bottom: rem(120);
  }
}

.sub-contact__inner {
  @include mq("md"){
    width: 100%;
    max-width: rem(600);
    margin-inline: auto;
  }
}

.sub-contact__container {
  position: relative;
}

// 必須項目の未入力エラー

.contact-error-message {
  display: none;
  color: $red;
  font-family: "Noto Sans JP";
  font-size: rem(14);
  font-style: normal;
  font-weight: $normal;
  line-height: normal;
  position: relative;
  top: -56px;
  left: 50%;
  transform: translateX(-50%);
}


.sub-contact__form {
}
